* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    /* font-family: "Noto Sans", "Poppins", "Quicksand", "Roboto", "sans-serif"; */
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body {
        background-color:#a50104;
        height: 100vh;
        width: 100%;
}

:root {
    --main-color: rgb(206, 0, 0);
    --colorwhite: rgb(243, 243, 243);
    --colorblack: rgb(23, 23, 23);
}


/* NAVBAR ------------------------------------------- */


header {
    display: flex;
    justify-content: center;
}

nav {
    width: 70vw;
    background-color: #7a00009e;
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support  */


  z-index: 900;
    box-shadow: 2px 3px 5px rgba(26, 0, 0, 0.9);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    /* border: 3px dashed black; */
    border-radius: 2rem;
    margin: 10px;
    padding: 10px;
    

}

nav ul{
    display: flex;
    align-items: flex-start;
    list-style: none;
    padding-top: 5px;
}

nav li{
    
    margin-right: 30px;
    padding: 0.3rem 0.7rem;
}

nav a{
    text-decoration: none;
    color: white;
}

.logo {
    margin-right: auto;
    cursor: pointer;

}

.logo a{
    font-size: 1.8rem;
    padding: 10px;
}

.btn {
    background-color: var(--colorwhite);
    padding: 0.3rem 0.7rem;
    margin-right: 10px;
    border-radius: 1rem;
    color: rgb(0, 0, 0);
    transition: transform 0.5s ease-in-out;
    
    
}

.btn:hover {
    color: var(--colorwhite);
    padding: 0.3rem 0.7rem;
    background-color: var(--colorblack);
    scale: 1.1;
    transform: scale(1.1);
    
}

.sidebar {
    display: none;
    width: 80vw;
    height: 0;
    background-color: rgba(154, 154, 154, 0.5);
    backdrop-filter: blur(5px);
    position:absolute;
    top: 75px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(19, 19, 19, 0.59);
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.sidebar.open{
    height: 220px;
}

.sidebar li{
    list-style: none;
    padding: 1.2rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(144, 0, 0, 0.768);
    margin: 0 0 5px 0;
    
}

.sidebar a {
    text-decoration: none;
    color: white;
    
}

.sidebar li:hover {
    scale: 1.1;
    
}

.sidebar .btn {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

.sidebar .btn:hover {
    color: white;
}




nav .toggle-bar {
    padding-right: 10px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* this display in mobile */
}


.sidebar {
    display: block;
}


/* RESPONSIVE FOR MOBILE, TABS ..=================================== */

@media (max-width: 650px){

    nav {
        width: 80vw;
    }

    nav ul, nav .btn {
        display: none;
    }

    nav .toggle-bar{
        display: block;
    }

    nav .logo {
        font-size: 1.8rem;
    }
}





/* MAIN ---------------------------------------------- */

#pill {
    display: flex;
    height:30px;
    width:200px;
    background-color:#510002;
    border: 1px solid black;

    font-family: "Poppins", "Quicksand", "Roboto", "sans-serif";
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px

}

#pill h3 {
    font-size: 14px;
    font-weight: 900;
    color:rgb(238, 214, 0);
    text-decoration: none;
}

h1 {
    /* font-family: */

    text-align:center;
    font-size: 100px;
    font-weight:900;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#home-img {
    margin-top: 0px;
    padding-top: 0px;
    justify-content: center;
    /* position:fixed; */
    display: flex;
    widht: 500px;
    z-index: 10;
    position:relative
    

}

#home-img img {
    width: auto;

}